/* Write your CSS here */
.list-container {
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items:center;
  height: 15vh;
  width: 30vw;
  background-color: #ffffff33;
  border-color: aliceblue;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
}
.ipl-image {
  height: 120px;
  width: 120px;
}
.ipl-paragraph {
  color: white;
  font-size: 25px;
}
