/* Write your CSS here */
.teamMatches-container {
  width: 100%;
  padding: 10px;
  height: 100vh;
}
.iplteam-image {
  width: 100%;
  height: 40vh;
}
.unordered-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
}
